

/* Center
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center-horizontal
{
  /* AMAZING CODE TO CENTER VERTICAL*/
  align-items: center;
  justify-content: center;
  display: flex;
}

.center-vertical
{
  vertical-align: middle;
  line-height: 6rem;
}

.center
{
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  line-height: 6rem;
}


body
{
  background-color: #EFF1EE;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}


/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav
{
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 6rem;
  z-index: 100;
}

#nav-logo, #nav-links
{
  position: relative;
  float: left;
  height: 100%;
}

#nav-links
{
  float: right;
}

#nav-links li, #contact-links li
{
  height: inherit;
  position: relative;
  float: right;
  margin-left: 2rem;
  display: inline-block;
}


/* Nav hover
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.link:after {
  content: '';
  height: 1px;
  bottom: 1.5rem;
  position: absolute;
  left: 50%;
  width: 0;
  transition: 0.3s all ease-in-out;
  background: #000;
}
.link:hover:after {
  width: 100%;
  left: 0;
  background: #20b2aa;
}

.link {
  display: inline-block;
  color: #000;
  transition: 0.3s all ease-in-out;
}
.link:hover {
  color: #20b2aa;
}

/* Fixed header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header
{
  background-image: url("../img/bg_placeholder.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  text-align: center;
  background-color: #f3f5f6;
}

#header-image
{
  height: 100vh;
  width: 100%;
}

#header-text
{
  width: inherit;
  position: absolute;
  top: 40%;
  text-align: center;
}

header h1
{
  font-weight: bold;
}

/* Featured work
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.featured-work
{
  font-size: 1.8rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #EFF1EE;
}
#featured-work-one, #main-featured-work
{
  background-color: #FF6161;
}

#featured-work-two
{
  background-color: #289B94;
}
#featured-work-three
{
  background-color: #EC6548;
}

#main-about
{
  background-color: #555555;
}

#main-contact
{
  background-color: #3A4848;
}


#contact-links
{
  width: 100%;
}

#contact-links li
{
  float: left;
}

/* 16x9 imgs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#image-mask {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 56.2% 0 0 0;
}
#image-mask img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
