
/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html
{
  height: 100%;
  width: 100%;
}
body
{
  background-color: #EFF1EE;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.hide
{
  display: none;
  visibility: hidden;
}


*:focus
{
  outline: none;
  color: #379F7A;
}

.no-select
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Icon font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 2em;
}

[class*="entypo-"]:hover{
  color:#379F7A;/*#94c2cf*/
  cursor:pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* Center
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center-horizontal
{
  /* AMAZING CODE TO CENTER VERTICAL*/

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

}

.center-vertical
{
  vertical-align: middle;
  line-height: 6rem;
}

.center
{
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  line-height: 6rem;
}

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav
{
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 6rem;
  z-index: 100;
  /*-webkit-transition: all 0.3s;*/
}

#nav-icon, #nav-logo, #nav-links
{
  position: relative;
  float: left;
  height: 100%;
}

#nav-icon img
{
  margin-top: 1rem;
  height: 4rem;
  width: auto;
  -webkit-transition:0.2s;
}

#nav-icon img:hover
{
  opacity: 0.5;
}

#nav-links
{
  float: right;
}

#nav-links li, #contact-links li
{
  height: inherit;
  position: relative;
  float: right;
  margin-left: 2rem;
  display: inline-block;
}


/* Link hover
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.link:after {
  content: '';
  height: 1px;
  bottom: 1.5rem;
  position: absolute;
  left: 50%;
  width: 0;
  transition: 0.3s all ease-in-out;
  background: #000;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #379F7A;
}

.link {
  display: inline-block;
  color: #000;
  transition: 0.3s all ease-in-out;
}
.link:hover {
  color: #379F7A;
}

h4.link:after
{
  bottom: 3rem;
}

/* Fixed header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header
{
  background-image: url("../img/bg_placeholder.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  text-align: center;
  background-color: #f3f5f6;
}

#header-image
{
  height: 100vh;
  width: 100%;
}

#header-text
{
  width: inherit;
  position: absolute;
  top: 40%;
  text-align: center;
}

header h1
{
  font-weight: bold;
}

/* Featured work
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.featured-work
{
  font-size: 1.8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #EFF1EE;
}

#main-featured-work
{
  padding-bottom: 1rem;
}

#featured-work-one, #main-featured-work
{
  background-color: #1e2931; /*#FF6161; pink*/
}

#featured-work-two
{
  background-color: #1b2428;
  /*#289B94; blue */
}
#featured-work-three
{
  background-color: #171717; /*#EC6548; orange*/
}

#featured-work-four
{
  background-color: #379F7A;
}

#main-about
{
  background-color: #F3F7FA;
  color: #1a1a1a;
}

#main-contact
{
  background-color: #1a1a1a;
}

#contact-links
{
  width: 80%;
  height: 100%;
  margin: auto;
}

#contact-links i
{
  font-size: 2rem;
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* 16x10 imgs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#image-mask
{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 62.5% 0 0 0;
}

#image-mask img
{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Tags
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tags
{
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.project-title
{
  font-weight: 700;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box {

  min-width: 60%;
  position:relative;
  vertical-align: middle;
  color: #E3DEE2;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid #E3DEE2;
  border-radius: 4px;
  -webkit-transition:0.5s;
  margin-left: 20%;
}

.box-two
{
  min-width: 30%;
  width:18rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#resume-btn, #demoreel-btn
{
  color: #1a1a1a;
  border-color: #1a1a1a;
  min-width: 30%;
  width:18rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Larger than mobile */
@media (max-width: 450px)
{
  .box, #resume-btn, #demoreel-btn
  {
    width:14rem;
  }

  #nav-icon
  {
    position: absolute;
    left: 0.3rem;
  }

  #nav-logo
  {
    display: none;
  }

  #nav-links li, #contact-links li
  {
    height: inherit;
    position: relative;
    float: right;
    margin-left: 1rem;
    display: inline-block;
  }

}

.box:hover, #resume-btn:hover, #demoreel-btn:hover
{
  border: 2px solid rgba(0,160,80,0);
  color: #FFF;
  background-color: #379F7A;
}

#league-btn1:hover, #league-btn2:hover
{
  /**/
  color: #379F7A;
  background-color: #FFF;
  border-color: #FFF;
}

.box-button
{
  margin-top: 4rem;
}


a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: #379F7A;
    text-decoration: none;
}


.desktop-br
{
  display: none;
  visibility: hidden;
}

@media (min-width: 1000px)
{
  .desktop-br
  {
    display: block;
    visibility: visible;
  }
}
