@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	font-family: 'Press Start 2P',  sans-serif;
	color:white;
	background-color:#33ccff;
}

#welcome-screen {
	width:50%;
	margin-left:25%;
	margin-top:15%;
	text-align:center;
}

#battleships h1 {
	font-size:4em;
}

#battleships2 {
	font-size:1em;
	margin-top: 40px;
	
}

#start-btn {
	cursor:pointer;
	font-size:2em;
	width:50%;
	margin-left:25%;
	margin-top:10%;
}

#start-btn:hover {
	color:#FD674D;
}

#end-screen {
    width:50%;
    margin-left:25%;
    margin-top:15%;
    text-align:center;
}

#play-again {
	cursor:pointer;
    font-size:2em;
    width:50%;
    margin-left:25%;
    margin-top:10%;
}

#play-again:hover {
    color:#FD674D;
}



#bottom {
	background-image: url("../img/bottom.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-position:right bottom;
	height:300px;
	width:100%;
	position:fixed;
	bottom:0px;
	
}
#About {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	color:#315874;
}
#About p {
	font-size:0.8em;
}


#game {
	width: 720px;
	height: 400px;
    margin: 0 auto;
	margin-top: 50px;
	padding:40px;
	overflow: hidden;
	background-image: url("../img/bkg.png");
    background-repeat: no-repeat;
}

#game-board {
	float:left;
	width: 400px;
	text-align:center;
}

#game-controls {
	float:left;
    width:35%;
    margin-left:60px;
}

#counter{
	background-image: url("../img/bomb.png");
	background-repeat: no-repeat;
    background-size: 80px 80px;
    width:80px;
    height:80px;
	margin-bottom:40px;
}

.ships-feedback {
	width:40px;
	height:40px;
}
.ship-one {
	background-image: url("../img/boat1.png");
	background-size: 40px 40px;
}
.ship-any {
    background-image: url("../img/boat2.png");
    background-size: 40px 40px;
}
.ship-last{
	background-image: url("../img/boat3.png");
    background-size: 40px 40px;
}

.map-grid {
	
	background-image: url("../img/seatile.png");
	width:40px;
	height:40px;
	cursor:pointer;
}

.map-grid:hover {
	background-image: url("../img/bomb2.png");
}

.shot-hit {
	color:red;
	background-image: url("../img/firetile.png");
	background-size: 40px 40px;
}

.shot-fail {
	
	color:white;
	background-image: url("../img/misstile.png");
	background-size: 40px 40px;
}

.hide {
	visibility: hidden;
}

.hidden {
	display:none;
	
}

.ship-gone {
	opacity:0.4;
	
}