html, body
{
    margin: 2em auto;
    background-color: #1C1C1C;
    color: #CFC6B5;
    font-size: 16px;
    line-height: 1.4;
    font-kerning: normal;
    font-weight: 200;
}

h1, h2, h3 {
    letter-spacing: -0.01em;
    color: #CFC6B5;
    font-weight: 200;
    line-height: 1.2;
    font-size: 1.4em;
}
h1 {
    padding-bottom: 1em; 
}
h2, h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 0.8;
}

body { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; 
    width: 90%;
    font-size: 1.4em;
}

.talks p{
    font-size: 0.7em;
}

a,
a.visited {
	color: inherit;
    text-decoration: underline;
}
a:hover {
    color: #fff;
    fill: #fff;
}


.page {
    padding-top: 10%;
}

.contact {
    padding-top: 3em;
}
.contact-links {
    padding-left: 0.2em;
}
.contact-links a {
    padding-right: 1em;
    font-size: 1.4em;
}

.disabled a{
    color:#686051;
    fill:lightgray;
}

.bottom-fade {
    position : fixed;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                          rgba(255,255,255, 0), 
                          #1C1C1C 90%);
    width    : 100%;
    height   : 4em;
}

.note {
    padding-top: 4em;
    padding-bottom: 0;
    font-size: .7em;
    color: #686051;
    margin-bottom: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 7em;
  background-color:#2D334A;
  color: #FFFFFE;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 0.7em;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip-top {
    bottom: 105%;
    left: -3em;
    margin-left: 0;
}
.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2D334A transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 70%;
        
    }
    .page {
        padding-top: 2em;
    }
    .contact {
        padding-top: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 70%;
        font-size: 1.4em;
    }
    .page {
        padding-top: 15%;
    }
    h1 {
        font-size: 2.5em;
        padding-bottom: 0;
        width: 80%;
    }
    .contact {
        padding-top: 1em;
    }
    p {
        width: 85%;
        font-size: 1em;
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 60%;
        font-size: 1.2em;
    }
    .page {
        padding-top: 1em;
    }
}